@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@700&family=Montserrat:wght@300;400;600&display=swap');

body{
    height: 100vh;
    width: 100wh;
    margin: 0;
    font-family: 'Montserrat', Arial, Helvetica, sans-serif; 
    color: #222;
}

header {
    width: 100%;
    display: grid;
    grid-template-rows: auto auto auto; 
    grid-template-columns: 1fr;
    align-items: start;
}

.barra {
    background-color: rgb(39 73 100);
    height: 30px;
    display: grid;
    place-items: center; 
    color: white;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
}

.zonabusqueda {
    display: grid;
    grid-template-columns: 15% 70% 5% auto auto;
    align-items: center;
    width: 100%;
    padding: 10px 0;
}

.zonabusqueda h1{
    color: #7b0063; 
    font-family: 'Merriweather', serif; 
}

.busqueda {
    width: 100%;
    border: 1px solid #ccc;
    padding: 8px;
    border-radius: 7px;
}

.slector {
    display: grid;
    grid-auto-flow: column; 
    justify-content: end; 
    gap: 20px;
    list-style: none;
    margin: 0;
    padding: 0 20px; 
}

.slector a{
    text-decoration: none;
    color: #7b0063; 
    font-weight: 600;
}

.zonabusqueda button:first-of-type{
    width: 45%;
    height: 35%;
    background-color: rgb(192, 40, 230);
    margin-left: 15px;
}

.zonabusqueda button:nth-of-type(2) {
    width: 40%;
    height: 20%;

}

.zonabusqueda button:nth-of-type(3){
    width: 40%;
    height: 40%;
    margin-left: 6px; 
}

.banner{
    width: 100%;
    height: 35%;
    position: relative;
}

.cuadro{
    position: absolute;
    top: 20%;     
    left: 80%;    
    background: white;
    padding: 10px;
    opacity: 0.7;
} 

.banner img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.cuadrados{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    height: 40%;
    width: 100%;
    gap: 10px;
    padding: 15px;
    margin: 0 auto;
    box-sizing: border-box;
    max-width: 80%;
}

.cuadrado {
    position: relative;
    width: 100%;
    background-color: black;
    text-align: center;
    overflow: hidden;
    color: white;
    background-size: cover;      
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cuadrado .overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(52, 51, 51, 0.5);
    z-index: 1;
}

.cuadrado.cuadro1 {
    background-image: url('img/comedor.jpg');
}

.cuadrado.cuadro2 {
    background-image: url('img/cocina.avif');
}

.cuadrado.cuadro3 {
    background-image: url('img/salon.webp');
}

.cuadrado .texto {
    color: white;
    text-align: center;
        z-index: 2; 

}

.gifts {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    width: 100%;
    height: 20%;
    gap: 15px;
    margin: 0 auto;
    /* background-color: black; */
    padding: 0;
}

.gift{
    background-color: blue;
    width: 100%;
    height: 100%;
    overflow: hidden; 
}

.gift img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

footer {
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 100%;
    height: 30%;
    position: relative; 
    background-image: url('img/salon.webp');
    background-repeat: no-repeat;
    background-size: cover;      
    background-position: center;
}

footer div {
    display: flex;
    justify-content: center; 
    align-items: flex-end;   
    position: relative;
    top: 50%;
    height: 50%;
    background-color: rgba(255, 255, 255, 0.5);
}

.gifts-title {
    text-align: center;   
    margin: 20px 0;      
    font-family: 'Merriweather', serif;
    color: #7b0063;
}