body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.marco{
    height: 500px;
    width: 650px;
    border: 10px solid rgb(229, 228, 228);
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    padding: 70px;
}

.cuadrado{
    background-color: rgb(229, 228, 228);
    grid-column: 1 / 3;
    grid-row: 1 / 3 ;
    margin: 5px;
    border-radius: 7px;
}

.circulo{
    background-color: rgb(229, 228, 228);
    border-radius: 100%;
    margin: 5px;

}