body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
    margin: 0;
    background-color: black;
}

.contenedor{
    height: 100%;
    width: 60%;
    /* background-color: green; */
    color: rgb(84 184 69);
    font-family: monospace;
}

.grid{
    display: grid;
    grid-template-rows: 17% 40% 40%;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 5px;
    /* background-color: red; */
    height: 90%;
    width: 90%;

}

.grid .alargado:nth-child(1),
.grid .alargado:nth-child(4) {
    visibility: hidden;
}

.alargado{
    /* background-color: rgb(255, 0, 212); */
    border: 5px solid rgb(84 184 69);
    padding: 5px;
}

.poster{
    /* background-color: blue; */
    border: 5px solid rgb(84 184 69);
    padding: 5px;

}

img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

